html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: rgb(247, 247, 247);
  background: linear-gradient(322deg, rgba(247, 247, 247, 1) 0%, rgba(253, 167, 45, 1) 100%);
}

h1,
p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #756158;
}

a:hover,
a:focus,
a.active {
  background-color: #ded5d0;
}

.motivace {
  width: 20%;
  border-radius: 90px;
  padding: 10px;
  z-index: 1;


}

.change {
  width: 30%;
  border-radius: 50px;
  padding: 10px;
  transform: rotate(-20deg);

}

.tag {
  width: 30%;
  border-radius: 50px;
  padding: 10px;
  transform: rotate(10deg);


}

ul,
ol {
  list-style-type: none;
}

ol {
  float: right;
}

ul {
  float: left;
}


footer {
  text-align: center;

}

.ikony {
  width: 1em;
  height: 1em;
}

.seznamy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.vize {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
